.navbar {
    display: flex;
    justify-content: center;
    .container {
        width: 1400px;
        background-color: green;

        .logo{
            .text{}
            .dot{}
        }
        .links{
            
        }
        .links-list {
            &__item{}
            .link{}
        }
    }
}