.gigCard {
  width: 324px;
  border: 1px solid rgba(128, 128, 128, 0.379);
  margin-bottom: 25px;

  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    height: 200px;
  }

  .info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      font-weight: bold;
      color: #000;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    p {
      color: #111;
    }

    .star {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 18px;
        height: 18px;
      }

      span {
        font-size: 16px;
        font-weight: bold;
        color: orange;
      }
    }
  }

  hr {
    border: 1px solid rgb(242, 241, 241);
  }

  .details {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 22px;
      height: 22px;
      cursor: pointer;
      color: #f27474;
    }

    .price {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      span {
        color: #999;
        font-size: 12px;
      }

      h2 {
        color: #555;
        font-size: 18px;
      }
    }
  }
}
