.slide {
    padding: 60px 0;
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}

.arrow {
    width: 30px;
    transition: all 250ms ease;
    height: 40px;
    &.left {
        transform: unset;
    }
    &.right {
        transform: scaleX(-1);
    }
    &:hover {
        opacity: 0.5;
    }
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
}
